h1{
color: blueviolet;
padding: 30px;
margin-left: 40%;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 50px
}

li{
    list-style-type: none;
    
}

a{
   
    text-decoration: none;
}

